<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605336652367-42i9nltlff7p3725igo9qqgrhblnc7s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605336652367-42i9nltlff7p3725igo9qqgrhblnc7s5</string>
	<key>API_KEY</key>
	<string>AIzaSyBO6TqYdMJp_jcS_czbOhLcCLwLq23eW_0</string>
	<key>GCM_SENDER_ID</key>
	<string>605336652367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcinplinta.mojaBudowa</string>
	<key>PROJECT_ID</key>
	<string>moja-budowa123a</string>
	<key>STORAGE_BUCKET</key>
	<string>moja-budowa123a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605336652367:ios:9e65153d245b4a9ea8b83a</string>
</dict>
</plist>